@{
    string hide = String.Empty;

    if (!Request.IsAuthenticated)
    {
        hide = "hide";
    }
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("MovSite", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="@hide">@Html.ActionLink("Movies wishlist", "Wishlist", "Movies")</li>
                <li class="@hide">@Html.ActionLink("Movies already seen", "AlreadySeen", "Movies")</li>
                <li class="@hide">@Html.ActionLink("TV shows wishlist", "Wishlist", "TVShows")</li>
                <li class="@hide">@Html.ActionLink("TV shows already seen", "AlreadySeen", "TVShows")</li>
                @if (User.IsInRole("CanManageUsers"))
                {
                    <li>@Html.ActionLink("Manage Users", "Index", "Users")</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
