@using MovSite.Models;
@using System.Configuration;

@model MovSite.ViewModels.TVShowFormsViewModel

@{
    ViewBag.Title = "TV Show Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.PageTitle</h2>

@using (Html.BeginForm("Save", "TVShows", new { seen = false, actionName = Model.ActionName }))
{
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(t => t.Name)
        @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.ReleaseDate)
        @Html.TextBoxFor(t => t.ReleaseDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.ReleaseDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.RatingInIMDB)
        @Html.TextBoxFor(t => t.RatingInIMDB, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.RatingInIMDB)
    </div>
    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-warning">Save</button>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('#Name').focusout(function () {
                let tvShowTitle = $(this).val();
                let query = "https://www.omdbapi.com/?apikey=@ConfigurationManager.AppSettings["OMDbAPIkey"]&t=" + tvShowTitle;
                $.ajax(query).done(function (tvShowObj) {
                    let imdbRating = tvShowObj["imdbRating"];
                    if (imdbRating) $("#RatingInIMDB").val(imdbRating);
                    else $("#RatingInIMDB").val("@Messages.MovieNotFoundInIMDbDatabase");
                });
            });
        });
    </script>
}

